@page
@model AP.Platform.Pages.ResetPasswordModel
@{
    Layout = null;
}
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using System.Web
<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Reset password</title>
</head>
<body>
    <h3>@Model.Message</h3>
    <form method="post" action="/auth/reset-password">
        <div>
            <p>
                <label class="nav-link text-dark display-6" asp-area=""
                       for="email">We have sent a password reset code by email to @Model.Email?.Replace("%2B", "+"). Enter the code to reset your password</label>
                @Html.Hidden("email", Model.Email)
            </p>
            @if (!string.IsNullOrEmpty(Model.Error))
            {
                <p>
                    <label class="nav-link display-6" style="color:red;" asp-area=""
                           for="email">Error: @Model.Error</label>
                </p>
            }
            <p>
                <label class="nav-link text-dark display-6" asp-area="" for="code">reset code</label>
                @Html.TextBox("code", Model.ResetCode, new { type = "text", placeholder = "xxxxxx" })
            </p>
            <p>
                <label class="nav-link text-dark display-6" asp-area="" for="newPassword">new password</label>
                @Html.TextBox("newPassword", Model.NewPassword, new { type = "password", placeholder = "new password" })
            </p>
            <p>
                <label class="nav-link text-dark display-6" asp-area="" for="confirmationPassword">confirm password</label>
                @Html.TextBox("confirmationPassword", Model.ConfirmPassword, new { type = "password", placeholder = "confirm password" })
            </p>
        </div>
        <div>
            <input type="submit" value="Change password" />
        </div>
    </form>
    <div>
        <p>
            <label class="nav-link text-dark display-6" asp-area="" for="cancel">Go back?</label>
            <a id="cancel" class="nav-link text-dark display-6" asp-area=""
               href="/auth/login?email=@Model.Email?.Replace("+","%2B")&external=false">Cancel</a>
        </p>
    </div>
</body>
</html>